extends layout
block content
    #container
        header.hdr
            h1= title
            p Welcome to #{title} TEST2 #{viewed}

            p #{username}
            p #{games}

            a#js-fullscreen.m-button(href="#") Fullscreen
        //input#myfield(type="text")
        //a#send(href="#") Send
        //p#cnt.m-chat This is gonna be replaced


        .content
            .m-player-zone.l-left.l-red(data-player="1") 
                h2 Red Zone

            .m-player-zone.l-right.l-black(data-player="2") 
                h2 Black Zone

            #game.m-board
            #infos
                span X:
                #x
                span Y:
                #y

                form(method='post', action='/username')
                    input(type='text', name='username')
                    input(type='submit', value='set username')

    include inc/modals