extends layout
block content
    #container
        header.hdr
            button.m-button.i.i-restart(data-target='#modal-new-game') Start again
            button#js-features.m-button.l-small.i.i-info(data-target='#modal-features', data-closable) Informations
            button.m-button.i.i-trophy.l-fright(data-target='#modal-topscore') View top score


        .content
            h1.m-logo= title
            .m-player-zone.l-left.l-red(data-player="1")
                h2.fade

            .m-player-zone.l-right.l-black(data-player="2")
                h2.fade

            #game.m-board
                - each game in leaderBoard
                    - each players in game
                        - if (game.winner == game.players[0])
                            div#winner #{players[0]}
                            div#{players[1]}
                        - else
                            div#winner #{players[1]}
                            div#{players[0]}
            .m-rules.l-tcenter The first player to get four in a row wins. <br/>If the board is filled with pieces and neither player has 4 in a row, <br/>then the game is a draw.

    button#js-fullscreen.m-button.l-small.l-grey.i.i-fullscreen Fullscreen

    include inc/modals